<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smartregister.simprint">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk tools:overrideLibrary="com.simprints.libsimprints"/>
    <application>
        <activity android:name=".SimPrintsRegisterActivity" />
        <activity android:name=".SimPrintsVerifyActivity" />
    </application>
</manifest>
